
h1{
  font-family: amatic sc;
  color: red;
  font-size: 75px;
}
h3{
  color: black;
  text-decoration: underline;

}

.zoom  {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom:hover {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.text-center{
  text-align: center;
}

.link{
color: rgb(255, 255, 255);
padding: 20px;
text-decoration: none;
}



