/* body{
    background-color: #1D252F;
    overflow: hidden;
    font-family: Amatic SC;
} */

.titre h1{
    color: rgb(188, 80, 41);
    text-align: center;
    /* padding-top: 70px; */
}

.the-witcher-img{
    padding-top: 50px;
    margin-left: 15px;
    width: 12em;
    height: 18em;
}

.contain_img{
    display: inline-block;
    vertical-align: top;
}

.logo_bd_titre{
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.contain_bd{
    margin-left: 35px;
    display: inline-block;
    vertical-align: top;
}

.button_bd{
    background: none; 
    border: none; 
    cursor: pointer;
}

.play_ba{
    width: 40px;
}

.bd_text{
    color: red;
}

.video_bd{
    align-self: flex-end;
    display:none;
}

.iframe_bd{
    /* width : 560px;
    height : 315px; */
    width: 0px;
    height: 0px;
}

.bd_transition{
    width: 560px;
    height: 315px;
    transition: width 2s;
    transition: height 5s;
}

p{
    font-size: x-large;
    margin-left: 15px;
}

.fav{  
   position: fixed;
   left: 135px;
   margin-top: 10px;
}