/* body{
    background-color: #1D252F;
    overflow: hidden;
    font-family: Amatic SC;
} */

.titre h1{
    color: rgb(188, 80, 41);
    text-align: center;
    /* padding-top: 70px; */
}

.the-witcher-img{
    padding-top: 50px;
    margin-left: 15px;
    width: 12em;
    height: 18em;
}

.contain_img{
    display: inline-block;
    vertical-align: top;
}

.logo_bd_titre{
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.contain_bd{
    margin-left: 35px;
    display: inline-block;
    vertical-align: top;
}

.button_bd{
    background: none; 
    border: none; 
    cursor: pointer;
}

.play_ba{
    width: 40px;
}

.bd_text{
    color: red;
}

.video_bd{
    align-self: flex-end;
    display:none;
}

.iframe_bd{
    /* width : 560px;
    height : 315px; */
    width: 0px;
    height: 0px;
}

.bd_transition{
    width: 560px;
    height: 315px;
    transition: width 2s;
    transition: height 5s;
}

p{
    font-size: x-large;
    margin-left: 15px;
}
.ecriture{
    font-family: 'Mukta', cursive !important
}


.stars{
   position: absolute;
   margin-left: 275px;
   top: 27%;
 }

.rating {
   position: absolute;
   height: 40px;
   width: 200px;
   background: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: .3em;
   padding: 5px;
   overflow: hidden;
   border-radius: 20px;
   box-shadow: 0 0 2px #b3acac;
}

.rating__result {
   position: absolute;
   top: 0;
   left: 0;
   transform: translateY(-10px) translateX(-5px);
   z-index: -9;
   font: 3em Arial, Helvetica, sans-serif;
   color: #ebebeb8e;
   pointer-events: none;
}

.rating__star {
   font-size: 1.3em;
   cursor: pointer;
   color: #dabd18b2;
   transition: filter linear .3s;
}

.rating__star:hover {
   filter: drop-shadow(1px 1px 4px gold);
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color:000;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    position: absolute;
    top:27%;
    right: 45%;
  }

  .styled:hover {
    background-color: rgba(255, 0, 0, 1);
  }
  
  .styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }