body{
    margin: 0px;
}

.nav-brand {
  color: rgb(255, 0, 0);
  font-size: 2rem;
  text-decoration: none;
}

.navbar-link {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}

.form-inline .text {
  border: none;
  border-radius: 20px;
  padding: 0.5rem;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 0.5rem;
  flex-grow: 1;
  background-color: #ffffffa4;
  font-family: "Amaranth", sans-serif;
  display: flex;
}

.input-text{
    background-color: #a4a4a4;
    color: #000;
    border: none;
    position: relative;
    left: -18%;
}

.form-inline button[type="submit"] {
  border-radius: 20px;
  color: white;
}

.navbar {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; 
  }

.logo {
    color: rgb(255, 0, 0);
    font-family: "Amaranth", sans-serif;
    height: 48px;
  }
  
.right-side {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 5px;
    margin: 10px;
  }

.nav-link {
    margin-right: 10px;
    
  }

.img{
    width: 30px;
  }

  .pos{
    position: fixed;
    left: 2.5%;
    margin-top: 10px;
  }

.select{
    position: fixed;
    left: 11%;
    margin-top: 8px;
    border-radius: 50px;
    background-color: #000000;
    text-align: center;
    color: rgb(255, 0, 0);
    border: 0px;
    font-size: 25px;
    font-family: "Amaranth", sans-serif;
}
