body {
  background-color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
}


fieldset,
img {
  border: 0
}

/* ol,
ul, */
li {
  list-style: none
}

:focus {
  outline: none
}
body,
input,
textarea,
select {
  font-family: "amatic sc";
  font-size: 30px;
  color: #ffffff;
}

p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
}



input[type=radio]:checked+label:after {
  opacity: 1;
}

hr {
  color: #333333;
  opacity: 0.3;
}

.div_nulflix {
  padding-left: 40px;
  left: -1em;
  z-index: 1;
}


.div_nulflix_titre {
  padding-left: 32em;


}

h2 {
  color: #FE0606;
  font-size: 80px;
  text-align: center;
}

input {
  padding: 10px;
  padding-right: 300px;
  align-content: center;
  margin: 0px;
  border-radius: 10px;
  }

form {
  color: #dddddd;
  font-size: 40px;
  position: absolute;
  left: 550px;
  top: 80px;
  flex-direction: column;
  margin-bottom: 50px;
}

label {
  font-size: 30px;

}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-40%);
  z-index: 2;

}


.login-button {
  border-radius: 20px;
  width: 600px;
  height: 120px;
  font-size: 20px;
  position: relative;
  font-family: 'Amatic SC';
  font-size: 75px;

}

.sign_button {
  background-color: #FE0606;
  border-radius: 20px;
  width: 500px;
  height: 60px;
  font-size: 50px;
  position: relative;
  font-family: 'Amatic SC';
  text-align: center;

}

#btn-hover:hover {
  cursor: pointer;
  opacity: 15%;

}

a {
  color: white;
  text-decoration: none;
}

.gender {
  margin-left: 30px;
  margin-bottom: 30px;
  color: white;
}

.accounttype {
  margin-left: 8px;
  margin-top: 20px;
}

a.button {
  font-size: 15px;
  font-weight: 600;
  color: white;
  padding: 6px 25px 0px 20px;
  margin: 10px 8px 20px 0px;
  display: inline-block;
  text-decoration: none;
  width: 50px;
  height: 27px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #b00202;
  -webkit-box-shadow: 0 3px rgba(182, 0, 0, 0.75);
  -moz-box-shadow: 0 3px rgba(172, 0, 0, 0.75);
  box-shadow: 0 3px rgba(186, 0, 0, 0.75);
  transition: all 0.1s linear 0s;
  top: 0px;
  position: relative;
}

a.button:hover {
  top: 3px;
  background-color: #000000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

}

.navbar {

  background-color: #FE0606;
  height: 60px;
  /* margin: -8px; */
  display: flex;

}

.title {

  /* display: inline; */
  font-family: 'Amatic SC';
  font-size: 40px;
  color: aliceblue;
  margin: 0;
}

p {
  font-size: 20px;
}

h2 {
  color: #FE0606;
  font-size: 80px;
  text-align: center;
}

.color{
  color: black;
}

.gren{
  display: flex;
  justify-content: space-evenly ;
}

