 .stars{
   position: absolute;
   margin-left: 800px;
   top: 26%;
 }
 
 .rating {
    position: absolute;
    height: 100px;
    width: 380px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 px #b3acac;
 }
 
 .rating__result {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-5px);
    z-index: -9;
    font: 3em Arial, Helvetica, sans-serif;
    color: #ebebeb8e;
    opacity: 1!important;
    pointer-events: none;
 }
 
 .rating__star {
    font-size: 3.3em;
    cursor: pointer;
    color: #f3d110c6;
    transition: filter linear .3s;
 }
 
 .rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
 }

