body{
    background-color: rgb(0, 0, 0);
}


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}

fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}

body,
input,
textarea,
select {
  font-family: "amatic sc";
  font-size: 30px;
  color: #000000;
}

p {
  color: #ffffff;
  font-size: 25px;
  width: 150px;
  display: inline-block;
  margin-left: 0px;
}
h1 {
  font-size: 32px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}


form{
  margin: 0 30px;
}


hr{
  color: #333333;
  opacity: 0.3;
}

.accounttype{
  margin-left: 8px;
  margin-top: 20px;
}

a.button {
  font-size: 15px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 6px 25px 0px 20px;
  margin-left: 92px;
  display: inline-block;
  text-decoration: none;
  width: 50px; height: 27px; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #b00202; 
  -webkit-box-shadow: 0 3px rgba(182, 0, 0, 0.75); 
  -moz-box-shadow: 0 3px rgba(172, 0, 0, 0.75); 
  box-shadow: 0 3px rgba(186, 0, 0, 0.75);
  transition: all 0.1s linear 0s; 
  top: 0px;
  position: relative;
}

a.button:hover {
  top: 3px;
  background-color:#000000;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}

.navbar {

  background-color: #FE0606;
  height: 60px;
  margin: -8px;
  display: flex;

}

.title {

  /* display: inline; */
  font-family: 'Amatic SC';
  font-size: 40px;
  color: aliceblue;
}

.div_nulflix {
  padding-left: 40px;
  left: -1em;
  z-index: 1;
  display: flex;
  align-items: center;
    }


.div_nulflix_titre {
  padding-left: 30%;
  
  
}

H2{
  color: #FE0606;
  font-size:80px;
  text-align: center;
}

input {
  padding: 10px;
  padding-right: 300px;
  align-content: center;
  margin: 0px;
  border-radius: 10px;
}
form {
  color: #dddddd;
  font-size: 30px;
  position: absolute;
  left: 550px;
  top: 240px;
  flex-direction: column;
}

label {
  font-size: 30px;

}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-40%);
  z-index: 2;
  
}

.sign_button {
  text-align: center;
}

.login-button {
  border-radius: 20px;
  width: 600px;
  height: 120px;
  font-size: 20px;
  position: relative;
  font-family: 'Amatic SC';
  font-size: 75px;
  
}

.sign_button {
  background-color: #FE0606;
  border-radius: 20px;
  width: 400px;
  height: 60px;
  font-size: 20px;
  position: relative;
  font-family: 'Amatic SC';
  font-size: 40px;

}
#btn-hover:hover {
  cursor: pointer;
  opacity: 15%;
  
}
a {
  color: white;
  text-decoration: none;
}

p2{
font-size: 10px;
} 