body{
    text-align: center;
    color: red;
    /* background-color: rgb(1, 1, 24); */
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 30px;
}
.button{
    background-color: red;
    color: black;
    border-radius: 20px;
    font-family: 'Amatic SC', cursive;
    width: 20%;
    font-size: 30px;
    font-weight: bolder;
}
.margin{
    margin-top: 40px;
}
.nav{
    color: red;
    background-color: rgb(1, 1, 24);
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}
.aligner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}